.footer {
  background-image: url(//d9hhrg4mnvzow.cloudfront.net/www.caresourcer.com/care-at-home-east-london/7de7a9bf-hero-bkg3_23b1h923b1ea000000.jpg);
  background-size: 1000px 720px;
  height: 720px;
  padding: 100px 0;
}

.cardMiddle {
  display: block;
  width: 542px;
  height: 355px;
}
